{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Welcome | {{ block.super }} {% endblock %}
{% block jumbotron%}
<!-- Main component for a primary marketing message or call to action -->
	<!-- {{ block.super }} -->
<div class="jumbotron">
	<div class="row">
		<div class="col-sm-6">
		  <h1>Django Project</h1>
		  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo odit, laborum debitis impedit illum error nisi repellat molestias, sunt fuga dolore, accusantium voluptate, nam tenetur possimus. Tempore nisi odio et!</p>
		  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		  <p>
		    <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">About Us &raquo;</a>
		  </p>
		</div>

		<div class="col-xs-6">
		  
		</div>
	</div>
</div>
{% endblock %}

{% block form%}
<div class="row">
	<div class="col-xs-3 lead text-align-center">Laboriosam quasi aperiam</div>
	<div class="col-xs-3 lead text-align-center">Aliquam expedita hic, laudantium rem</div>
	<div class="col-xs-3 lead text-align-center">Mollitia, earum!</div>
	<div class="col-xs-3 pull-right">
		<div class="lead text-align-center">{{wish}}</div>

		<form class="col-xs-12" method="POST" action="">{% csrf_token %}
			{{ form|crispy }}
			<input class="btn btn-primary" type="submit" value="Sign Up">
		</form>
	</div>
</div>
{% endblock %}